<footer>
    <div class="footer">
        <a class="logotip_" href="">
            <img class="logo_" src="images/dress.png" alt="">
            <a class="logo_text_" href="">WOMAZING</a>
        </a>
        <ul class="list_">
            <a class="li_a_" href="">
                <li class="li__">Главная</li>
            </a>
            <a class="li_b_" href="">
                <li class="li__">Магазин</li>
            </a>
            <a class="li_v_" href="">
                <li class="li__">О бренде</li>
            </a>
            <a class="li_c_" href="">
                <li class="li__">Контакты</li>
            </a>
        </ul>
        <a class="telephone_" href="">+7 (495) 823-54-12</a>
    </div>
</footer>