@using Elegant.DAL

     <header class="header headd">
         <div class="container_">
             <a class="logotip" href="">
                 <img class="logo" src="\images\products\dress.png" alt="">
                 <a class="logo_text" href="">WOMAZING</a>
             </a>
             <ul class="list">
                 <a class="li_a" href="">
                     <li class="li_">Главная</li>
                 </a>
                 <a class="li_b" href="">
                     <li class="li_">Магазин</li>
                 </a>
                 <a class="li_v" href="">
                     <li class="li_">О бренде</li>
                 </a>
                 <a class="li_c" href="">
                     <li class="li_ contact">Контакты</li>
                 </a>
             </ul>
             <a class="phonee" href="">
                 <img class="phone" src="\images\products\Заказ звонка.png" alt="">
             </a>
             <a class="telephone" href="">+7 (495) 823-54-12</a>
             <a href="">
                 <img class="basket" src="\images\products\shopping-bags 1.png" alt="">
             </a>
             <a  asp-area="" asp-controller="auth" asp-action="login">
                 
                 <img class="avatar_img" src="\images\products\avatar_transparent-6-Photoroom(1).jpg" alt="">
             </a>
             <div class="menu-btn">
                 <a href="">
                     <div class="burger"></div>
                     <div class="burger"></div>
                     <div class="burger"></div>
                 </a>
             </div>
         </div>
     </header>
