@model IReadOnlyCollection<Elegant.Business.Models.ViewModels.Product.ProductViewModel> 
<body class="general_class">
<main class="name_of_clothing">
    <div class="container_home">
        <div class="info_container">
            <h1>Новые поступления в этом сезоне</h1>
            <p class="info">Утонченные сочетания и бархатные оттенки - вот то, что вы искали в этом сезоне. Время исследовать.</p>
            <div class="open_a_store_cont">
                <a class="vector">
                    <img class="foto_vector" src="/images/products/Vector 1.png">
                </a>
                <button class="open_a_store">Открыть магазин</button>
            </div>
        </div>
        <div class="slaider">
            <img src="images/products/foto1.png" alt="">
            <img class="foto_3" src="images/products/foto3.png" alt="">
            <img class="foto_2" src="images/products/foto2.png" alt="">
        </div>
    </div>
    <div class="new_collection">
        <h2>Новая коллекция</h2>
        <div class="slaider_new_collection">
            <div class="product_information_container">
                <div class="product_information">
                    <img class="product1" src="/images/products/товар1.png" alt="">
                    <div class="price">
                        <span class="name_product_span">Футболка USA</span>
                        <span class="pr">$129</span>
                    </div>
                </div>
                <div class="product_information">
                    <img class="product1" src="/images/products/товар2.png" alt="">
                    <div class="price">
                        <span class="name_product_span">Футболка USA</span>
                        <span class="pr">$129</span>
                    </div>
                </div>
                <div class="product_information">
                    <img src="/images/products/product.png" alt="">
                    <div class="price">
                        <span class="name_product_span">Футболка USA</span>
                        <span class="pr">$129</span>
                    </div>
                </div>
            </div>
        </div>
    <div class="cont_new_collection_open_a_store">
        <a class="new_collection_open_a_store">Открыть магазин</a>
    </div>
    </div>    
    <div class="container_what_is_important_to_us">
        <h3>Что для нас важно</h3>
        <div class="what_is_important_to_us">
            <div class="quality">
                <img class="img_quality" src="/images/products/quality 1.png" alt="">
                <p class="span_info">Качество</p>
                <p class="information_quality">Наши профессионалы работают на лучшем оборудовании для пошива одежды беспрецедентного качества</p>
            </div>
        <div class="speed">
            <img class="img_quality" src="/images/products/Vector.png" alt="">
            <p class="span_info">Скорость</p>
            <p class="information_speed">Благодаря отлаженной системе в Womazing мы можем отшивать до 20-ти единиц продукции в наших собственных цехах</p>
        </div>
        <div class="responsibility">
            <img class="img_quality" src="/images/products/hand 1.png" alt="">
            <p class="span_info">Ответственность</p>
            <p class="information_responsibility">Мы заботимся о людях и планете. Безотходное производство и комфортные условия труда - все это Womazing</p>
        </div>
        </div>
    </div>
    <div class="container_dream_team">
        <h4>Команда мечты</h4>
        <div class="dream_team_foto_text">
            <img src="/images/products/adam-winger.png" alt="">
            <div class="for_each">
                <p class="p_for_each">Для каждой</p>
                <p class="every_girl_is_unique">Каждая девушка уникальна. Однако, мы схожи в миллионе мелочей.</p>
                <p class="every_girl_is_unique">Womazing ищет эти мелочи и создает прекрасные вещи, которые выгодно подчеркивают достоинства каждой девушки.</p>
            </div>
        </div>
    </div>
</main>
</body>
