<form method="post">
    @*<div class="row justify-content-center">
        <div class="col-6">
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="productName" placeholder="Поиск" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <button type="submit" asp-area="" asp-controller="home" asp-action="search" class="btn btn-dark btn-li fa fa-search" id="basic-addon2"></button>
            </div>
        </div>
    </div>*@
</form>