@model AddUserViewModel
@using WomanShop.Storages
@using WomanShop.Areas.Admin.Models
<form method="post" asp-area="admin" asp-controller="user" asp-action="add">
    <div class="row mb-3">
        <div class="col-12">
            <h1>Добавление пользователя</h1>
        </div>
        <div class="text-danger font-weight-bold" asp-validation-summary="ModelOnly"></div>
    </div>
    <div class="row mb-3">
        <label for="Name" class="col-sm-2 col-form-label">Имя</label>
        <div class="col-sm-4">
            <input type="text" asp-for="Name" id="Name"class="form-control" >
         </div>
         <span style="color:red" asp-validation-for="Name"></span>
    </div>

     <div class="row mb-3">
        <label for="phone" class="col-sm-2 col-form-label">Телефон</label>
        <div class="col-sm-4">
            <input type="tel" pattern="+[7]{1} [0-9]{3} [0-9]{2} [0-9]{2}" asp-for="Phone" id="phone"class="form-control" >
         </div>
         <span style="color:red" asp-validation-for="Phone"></span>
    </div>
    <div class="row mb-3">
        <label for="email" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-4">
            <input type="text" asp-for="Email" id="email"class="form-control" >
         </div>
         <span style="color:red" asp-validation-for="Email"></span>
    </div>
    <div class="row mb-3">
        <label for="password" class="col-sm-2 col-form-label">Пароль</label>
        <div class="col-sm-4">
            <input type="password" asp-for="Password" id="password" class="form-control">
        </div>
        <span style="color:red" asp-validation-for="Password"></span>
    </div>
    <div class="row mb-3">
        <label for="comfirmPassword" class="col-sm-2 col-form-label">Повторите пароль</label>
        <div class="col-sm-4">
            <input type="password" asp-for="ConfirmPassword" id="comfirmPassword" class="form-control">
        </div>
        <span style="color:red" asp-validation-for="ConfirmPassword"></span>
    </div>
   
    <div class="row mb-3">
        <label for="password" class="col-sm-2 col-form-label">Роль</label>
        <div class="col-sm-4">
            <select class="form-control"  asp-for="RoleName" 
             asp-items="ViewBag.Roles">
            </select>
        </div>
         <span style="color:red" asp-validation-for="RoleName"></span>
    </div>
   <button class="btn btn-success" type="submit">Добавить</button>
</form>