@model UserViewModel
<form method="post" asp-area="admin" asp-controller="user" asp-action="updatePassword">
    <div class="row mb-3">
        <div class="col-12">
            <h1>Изменение пароля</h1>
        </div>
    </div>
    <div class="text-danger font-weight-bold" asp-validation-summary="ModelOnly"></div>

    <div class="row mb-3">
        <label for="password" class="col-sm-2 col-form-label">Пароль</label>
        <div class="col-sm-4">
            <input type="text" name="password" id="password"class="form-control" >
         </div>
    </div>
    <div class="row mb-3">
        <label for="lastName" class="col-sm-2 col-form-label">Подтвердите пароь</label>
        <div class="col-sm-4">
            <input type="text" name="confirmPassword" id="confirmPassword"class="form-control" >
         </div>
         <span style="color:red" ></span>
    </div>
    
    <div class="row mb-3">
        @*<label for="userId" class="col-sm-2 col-form-label">Id</label>*@
        <div class="col-sm-4">
            <input type="text" name="userId" hidden value=@Model.Id  id="userId"class="form-control" >
         </div>
    </div>
   
   <button class="btn btn-success" type="submit">Изменить</button>
</form>