@model Elegant.Business.Models.ViewModels.Cart.CartViewModel
<body class="general_class">
    <main class="name_of_clothing">
        <p class="product_name">Корзина</p>
        <table class="">
            <tr class="table_headers">
                <th class="table_rows product_table_rows">Товар</th>
                <th class="table_rows price_table_rows">Цена</th>
                <th class="table_rows quantity_table_rows">Количество</th>
                <th class="table_rows total_table_rows">Всего</th>
            </tr>
            <tr class="item_in_cart">
                <th class="product_in_cart">
                    <img class="foto_cart" src="\images\products\товар1.png" alt="">
                    <p class="product_in_cart_name">Футболка USA</p>
                </th>
                <th class="price_rows">$129</th>
                <th class="quantity_rows">
                    <input class="quantity_inp" type="text" placeholder="1">
                    
                </th>
                <th class="total_amount">$129</th>
            </tr>
        </table>
        <div class="container_price">
            <span class="subtotal_amount">Итого:    $129</span>
            <button class="place_an_order">Оформить заказ</button>
        </div>
    </main>
</body>



