@model List<ProductViewModel>
@{
    ViewData["Title"] = "Home Page";
}
<!-- Button trigger modal -->

@await Html.PartialAsync("SearchProducts") 
@if(Model==null || Model.Count==0)
{
    <h1>На данный момент каталог пуст</h1>
}
@await Html.PartialAsync("HomeProducts")



