
@model List<Elegant.Web.Models.ProductViewModel>
<div class="row">
        @await Html.PartialAsync("LeftAdminMenu")

    <div class="col-9">
        <h3>Продукты</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Название</th>
                    <th>Цена</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var product in Model)
            {   

                <tbody>
                    <tr>
                        @*<td>@(product.Id+1)</td>*@
                        <td>@product.Name</td>
                        <td class="w-25">@product.Cost</td>
                        <td><a class="btn btn-primary" asp-area="admin" asp-controller="product" asp-action="update" asp-route-productId=@product.Id>Редактировать</a></td>
                        <td> <button type="button" class="btn btn-danger"data-bs-toggle="modal" data-bs-target="#exampleModal">Удалить</button></td>
                    </tr>

                </tbody>
                <div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Удаление продукта</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                                    </div>
                                    <div class="modal-body">
                                        Действительно хотите удалить @product.Name
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отменить</button>
                                        <a class="btn btn-danger" asp-area="admin"
                                            asp-controller="product"
                                            asp-action="remove"
                                            asp-route-productId=@product.Id>Удалить</a>
                                    </div>
                                </div>
                            </div>
                        </div>
            }
        </table>
    </div>
</div>
<div class="row justify-content-end">
    <div class="col-3">
        <a class="btn btn-success"
        asp-area="admin" asp-controller="product"
        asp-action="add">Добавить новый продукт</a>
    </div>
</div>
