@model Elegant.Business.Models.ViewModels.Product.UpdateProductViewModel

<form method="post" enctype="multipart/form-data" asp-area="admin" asp-controller="product" asp-action="UpdateProduct">
    <div class="row mb-3">
        <label for="name" class="col-sm-2 col-form-label">Название</label>
        <div class="col-sm-4">
            <input type="text" asp-for="Name" id="name" value="@Model.Name" class="form-control">
        </div>
        <span style="color:red" asp-validation-for="Name"></span>
    </div>
    <div class="row mb-3">
        <label for="cost" class="col-sm-2 col-form-label">Цена ₽</label>
        <div class="col-sm-4">
            <input type="number" asp-for="Cost" id="cost" value="@Model.Cost" class="form-control">
        </div>
        <span style="color:red" asp-validation-for="Cost"></span>
    </div>
    <div class="row mb-3">
        <label for="description" class="col-sm-2 col-form-label">Описание</label>
        <div class="col-sm-4">
            <textarea class="form-control" asp-for="Description" id="description">@Model.Description</textarea>
        </div>
        <span style="color:red" asp-validation-for="Description"></span>
    </div>
    <div class="row mb-3">
        <label for="image" class="col-sm-2 col-form-label">Выберете новое изображение</label>
        <div class="col-sm-4">
            <input type="file" asp-for="UploadedImage" id="image" multiple class="form-control">
        </div>
        <span style="color:red" asp-validation-for="UploadedImage"></span>
    </div>
    <div class="row mb-3">
        <div class="col-sm-4">
            <input asp-for="Id" hidden="hidden" value="@Model.Id" class="form-control">
        </div>
    </div>
    <button class="btn btn-success" type="submit">Изменить</button>
</form>