@model Elegant.Business.Models.ViewModels.Role.AddRoleViewModel
<form method="post" asp-area="admin" asp-controller="role" asp-action="add">
   <div class="row justify-content-center">
      <div class="col-6">
          <div class="mb-3"><h1>Добавление роли</h1></div>
          <div class="text-danger font-weight-bold" asp-validation-summary="ModelOnly"></div>

          <div class="mb-3">
              <span style="color:red" asp-validation-for="Name"></span>
              <input asp-for="Name" class="form-control" placeholder="Название роли">
          </div>
          
            <button type="submit" class="btn btn-dark">Добавить</button>
       </div>
    </div>
</form>