li{
    list-style-type: none;
}
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

/*body {
    margin-bottom: 60px;
}*/

.counter {
    width:40px;
    height:40px;
}

a {
    text-decoration: none;
    color: black;
}
.addUser {
    width:150px;
    height:60px;
}




.general_class{
   /* width: 1110px;*/
    margin: 0 auto;
    margin-top: 51px;
    margin-bottom: 130px;
}
.container_cart{
    display: flex;
}
.cloth{
    padding-right: 74px;
   
}
.product_name {
    font-family: Raleway;
    font-weight: 500;
    font-size: 55px;
    line-height: 60.5px;

}
.container{
    width: 1110px;
    margin: 0 auto;
    display: flex;
    margin-top: 51px;
    margin-bottom: 130px;

}
header{
    width: 1110px;
    margin: 0 auto;
}
.list{
    margin-left: 146px;
    margin-right: 80px;
    display: flex;
}
.li_{
    list-style-type:none;
    position: relative;
    bottom:10px;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    margin-right: 45px;
}
.li_a{
    display: flex;
}
.telephone_{
    margin-left:20px;
    margin-top: 3px;
    font-family: Raleway;
    font-size: 15px;
    font-weight: 500;
    padding-left: 60px;
}
.basket{
    margin-left: 35px;
}

.product_size{
    margin: 0 auto;
    padding-top: 180px;
    padding-bottom: 34px;
    font-family: Raleway;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}
.clothing_size{
    font-family: Raleway;
    font-weight: 500;
    font-size: 17px;
    line-height: 23.8px;
    border: 1px solid black;
    padding: 9px 15px;
    margin-right: 14px;
    cursor: pointer;
}
.all_sizes{
    margin-bottom: 60px;
}
.clothing_size:hover{
    background-color: black;    
    color: white;
    /*box-shadow: 0 0 0 99999px rgba(0, 0, 0, .5); /* fallback for IE */

}
.add_to_cart {
    background: rgba(110, 156, 159, 1);
    color: rgba(255, 255, 255, 1);
    border: none;
    cursor: pointer;
    padding: 22px 50px;
    font-family: Raleway;
    font-weight: 400;
    font-size: 17px;
    line-height: 23.61px;
    letter-spacing: 2%;
    text-align: center;
}
.product_information_container{
    display: flex;
}
.related_products_text{
    font-family: Raleway;
    font-weight: 500;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 2%;
    margin-bottom: 67px;
}
.name_of_clothing{
    margin-bottom: 130px;
}
.product1{
    margin-right: 30px;
}
.price{
    text-align: center;
    display: grid;
}
.pr{
    font-family: Raleway;
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 2%;

}
.name_product_span{
    font-family: Raleway;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 2%;

}

/*..............................................FOOTER..............................................*/
footer{
    background: #F1EADC;

}
.footer{
    display: flex;
    /*margin-left:200px;*/
    padding-top: 101px;
    padding-bottom:101px;
    margin: 0 auto;
    max-width: 1200px;
}
.list_{
    display: flex;
    margin-top: 2px;
    margin-right: 257px;
}
.li__{
    margin-right: 45px;
    font-family: Raleway;
    font-weight:500;
    font-size: 15px;
}
.logo_text_{
    margin-right:146px;
    margin-top: 4px;
}