@model Elegant.Business.Models.ViewModels.Product.ProductViewModel
<div class="container">
    <div class="name_of_clothing">
        <p class="product_name">Свитшот Sweet Shot</p>
        <div class="container_cart">
        <div class="cloth">
            <img src="images/products/602a4bce-0823-4dbe-a4cd-06aec762f4a2.jpg" alt="">
        </div>
        <div class="container_size_price">
            <p class="product_size">Выберите размер</p>
            <div>
                <span class="clothing_size">XS</span>
                <span class="clothing_size">S</span>
                <span class="clothing_size">M</span>
                <span class="clothing_size">L</span>
                <span class="clothing_size">XL</span>
            </div>
        </div>
        </div>
    </div>
</div>