@model Elegant.Web.ViewModels.ProductViewModel
<div class="conteiner">
    <div class="name_of_clothing">
        <p class="product_name">Свитшот Sweet Shot</p>
        <div class="cloth">
            <img src="images\products\товар3.png" alt="">
        </div>
    </div>
</div>