@*@model Cart*@

<h1>Ваш заказ успешно принят</h1>

@*<table class="table">
  <thead style="margin-bottom:10px">
   <tr>
      <th scope="col">Название</th>
      <th scope="col">Кол-во</th>
      <th scope="col">Стоймость</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
     @foreach (var position in Model.Items)
       {
          <tr>
              <td>@position.Product.Name</td>
              <td>@position.Count</td>
              <td>@position.Product.Cost</td>
          </tr>
        }
  </tbody>
  <tfoot>
     <tr>
        <td>Итого</td>
        <td></td>
        <td> @Model.Amount₽</td>
    </tr>
  </tfoot>
</table>
<div class="row">
    <div class="col-3"> 
         <a class="btn btn-primary" href="/home/index">Продолжить покупки</a>
    </div>
</div>*@
