@model Elegant.Business.Models.ViewModels.Authorization.Login
@*<input asp-for="Email" class="form-control" placeholder="Логин">*@

<form class="login" action="">
    <span class="log_in">Вход</span>
    <div class="input_class">
        <input type="email"  asp-for="Email" class="form-control" placeholder="Почта">
        <input type="password" class="password" placeholder="Пароль">
        <div class="container_change_me">
            <input  type="checkbox" class="change_me_checkbox">
            <span class="change_me">Запомнить меня</span>
        </div>
        <div class="login_button">
            <button class="login_to_account">Войти</button>
            <a  asp-area="" asp-controller="auth" asp-action="registration" class="new_user_registration">Регистрация</a>
        </div>
    </div>
</form>

