@model Elegant.Business.Models.ViewModels.Authorization.Login
@*<input asp-for="Email" class="form-control" placeholder="Логин">*@

<form class="login" action="">
    <span class="log_in">Вход</span>
    <div class="input_class">
        <input type="text"  asp-for="Email" class="form-control" placeholder="Email">
        <input type="text" class="password" placeholder="Password">
    </div>
</form>

