@model Elegant.Business.Models.ViewModels.Authorization.Registration
<form class="login" method="post" asp-area="" asp-controller="auth" asp-action="registration">
    <span class="registration">Регистрация</span>
    <div class="input_class">
        <input type="email"  asp-for="Email" class="form-control" placeholder="Почта">
        <input type="password" id="password-input" class="password" placeholder="Пароль">
        <a class="password_control" href="#"></a>
        <input type="password" class="repeat_the_password" placeholder="Повторите пароль">
        <div class="login_button">
            <button class="login_to_account">Зарегистрироваться</button>
        </div>
    </div>
           @*
           <input type="text" hidden value=@(string.IsNullOrEmpty(@Model.ReturnUrl) ? "/Home/index":Model.ReturnUrl) name="ReturnUrl">
          *@

</form>