@model Elegant.Business.Models.ViewModels.Order.UserDeliveryInfoViewModel

<form method="post" asp-area="" asp-controller="order" asp-action="confirm">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="justify-content-center"><h1>Введите данные</h1></div>
            <div class="text-danger font-weight-bold" asp-validation-summary="All"></div>
            <div class="mb-4">
                <label asp-for="Name">Ваше имя</label>
                <input type="text" asp-for="Name" class="form-control" value="Чакалов" placeholder="Чакалов Владимир">
                <span style="color:red" asp-validation-for="Name"></span>
            </div>
            <div class="mb-4">
                <label asp-for="Phone">Ваш номер</label>
                <input type="tel" asp-for="Phone" value="+7 919 427 36 21" pattern="+[7]{1} [0-9]{3} [0-9]{2} [0-9]{2}" class="form-control" id="phone" placeholder="+7 919 427 36 21">
                <span style="color:red" asp-validation-for="Phone"></span>
            </div>
            <div class="mb-4">
                <label asp-for="Address">Адрес доставки</label>
                <input type="text" asp-for="Address" value="Коста 292" class="form-control"placeholder="Пр.Коста 292/1 п.6 кв.79">
                <span style="color:red" asp-validation-for="Address"></span>
            </div>
    <button type="submit" class="btn btn-success">Подтвердить</button>

        </div>

    </div>
</form>

