@*@model ResetPasswordInfo
<form method="post" asp-area="admin" asp-controller="user" asp-action="ResetPassword">
    <div class="row mb-3">
        <div class="col-12">
            <h1>Изменение пароля</h1>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12">
            <div class="text-danger font-weight-bold" asp-validation-summary="ModelOnly">FFF</div>
        </div>
    </div>
    <div class="row mb-3">
        
        <label for="password" class="col-sm-2 col-form-label">Пароль</label>
        <div class="col-sm-4">
            <input type="text" asp-for="Password" id="password"class="form-control" >
         </div>
            <span style="color:red" asp-validation-for="ConfirmPassword"></span>
    </div>
    <div class="row mb-3">
        <label for="lastName" class="col-sm-2 col-form-label">Подтвердите пароь</label>
        <div class="col-sm-4">
            <input type="text" asp-for="ConfirmPassword" id="confirmPassword"class="form-control" >
         </div>
            <span style="color:red" asp-validation-for="ConfirmPassword"></span>
    </div>
    
    <div class="row mb-3">
        <div class="col-sm-4">
            <input type="text" name="userId" hidden asp-for="UserId" value=@Model.UserId  id="userId"class="form-control" >
         </div>
    </div>
   
   <button class="btn btn-success" type="submit">Изменить</button>
</form>*@

@model ResetPasswordInfo
<form method="post" asp-area="admin" asp-controller="user" asp-action="ResetPassword">
  <div class="row justify-content-center">
      <div class="col-6">
          <div class="justify-content-center"><h1>Сброс пароля</h1></div>
          <div class="text-danger font-weight-bold" asp-validation-summary="ModelOnly"></div>
          <div class="mb-3">  
              <span style="color:red" asp-validation-for="Password"></span>
                <input asp-for="Password" type="password" value=@Model.Password  class="form-control" placeholder="Пароль">
          </div>
          <div class="mb-3">    
              <span style="color:red" asp-validation-for="ConfirmPassword"></span>
              <input asp-for="ConfirmPassword" type="password" value=@Model.ConfirmPassword  class="form-control" placeholder="Повторите пароль">
          </div>
          <div class="row mb-3">
        <div class="col-sm-4">
            <input type="text" name="userId" hidden asp-for="UserId" value=@Model.UserId  id="userId"class="form-control" >
         </div>
    </div>
          <button type="submit" class="btn btn-dark">Зарегистрироваться</button>
       </div>
    </div>
</form>