<body class="general_class">
    <main class="name_of_clothing">
        <h1>О бренде</h1>
        <div class="container_foto_idea_woman">
            <img src="/images/products/Frame 34.png" alt="">
            <div class="idea_woman_container">
                <p class="idea_and_woman">Идея и женщина</p>
                <p class="p_foundation_womazing">Womazing была основана в 2010-ом и стала одной из самых успешных компаний нашей страны. Как и многие итальянские фирмы, Womazing остаётся семейной компанией, хотя ни один из членов семьи не является модельером.</p>
                <p class="p_formula_womazing">Мы действуем по успешной формуле, прибегая к услугам известных модельеров для создания своих коллекций. Этот метод был описан критиком моды Колином Макдауэллом как форма дизайнерского со-творчества, характерная для ряда итальянских prêt-a-porter компаний. </p>
            </div>
        </div>
        <div class="container_foto_magic_details">
            <div class="magic_in_the_details_container">
                <p class="magic_in_the_details">Магия в деталях</p>
                <p class="p_first_store">Первый магазин Womazing был открыт в маленьком городке на севере страны в 2010-ом году. Первая коллекция состояла из двух пальто и костюма, которые были копиями парижских моделей.</p>
                <p class="p_founders_story">Несмотря на то, что по образованию основательница была адвокатом, ее семья всегда была тесно связана с шитьём (прабабушка основательницы шила одежду для женщин, а мать основала профессиональную школу кроя и шитья). Стремление производить одежду для масс несло в себе большие перспективы, особенно в то время, когда высокая мода по-прежнему доминировала, а рынка качественного prêt-a-porter попросту не существовало. </p>
            </div>
            <img src="/images/products/Frame4.png" alt="">
        </div>
        <div class="div_go_to_the_store">
            <a class="go_to_the_store"  href="">Перейти в магазин</a>
        </div>
    </main>
</body>
